streamlit
langchain>=1.1.0
langchain-classic       # <--- THIS IS THE FIX for AgentExecutor
langchainhub            # <--- THIS IS THE FIX for hub
langchain-nvidia-ai-endpoints
langchain-community
tavily-python
yfinance
python-dotenv